<div class="container">
	<div class="show_main">
		<div class="show_details">
			<div class="name_img">
				<h2><%= @photographer.name %></h2>
				<img src="<%= @photographer.image_url %>" alt="">
			</div>
			<ul>
				<li>Rating: <%= @photographer.rate %></li>
				<li>Telphone: <%= @photographer.phone %></li>
				<li>Location: <%= @photographer.address %></li>
				<li>website: <%= @photographer.website %></li>
				<li>Posted by: <%= User.find(@photographer.created_by).name %></li>
			</ul>
		</div>
		<% if session[:user_id] %>
			<% if session[:user_id] == @photographer.created_by %>
			<div class="createdby_only_show">
				<form action="/photographers/<%= @photographer.id %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<button>Delete</button>	
				</form>
				<a href="/photographers/<%= @photographer.id %>/edit">Edit</a>
			</div>
			<% else %>
				<form action="/comments" method="post">
					<div class="login_only_show">
						<p>Rate this photographer(1-10)</p>
						<input type="text" name="rate">
						<p>Add comments</p>	
						<input type="hidden" name="photographer_id" value="<%= @photographer.id %>">  		
						<textarea name="content" id="" cols="30" rows="10"></textarea>
						<button>Save</button>
					</div>
				</form>		
			<% end %>
		<% end %>
		<div class="comments">
			<p>Comments :</p>
			<% if session[:user_id] == nil %>
			<p>Want to add your comments ? <a href="/">Log in</a></p>
				
			<% end %>
			<hr>
			<% @comments.each do |comment| %>
				<hr>
				<div>
					<p><%= comment.content %></p>
					<p>comments by <%= User.find(comment.created_by).name %>  at  <%= comment.created_at %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>
